/*16.05.13 | General Assembly FEWD | Final Project | Pinterest e-comm checkout prototype | Matt Schaefer*/

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Pinterest Prototype - Style Guide
   ========================================================================== */

/*COLORS:
Pin field and search bar background = #E9E9E9
Box shadow = #D8D8D8
Dark grey = #717171
Search / sub text grey = #b0b0b0
Like / Send / Save = #EFEFEF
Like / Send / Save hover = #E0E0E0
Brand red = #B80F16
"Buy it" blue = #0682FF
"But it" blue hover = #0575e5
White = #FFFFFF
Black = #000000*/

/*FONTS: 
Pin board header = 36px bold
Username and search infield label = 16px bold
Pin paragraph = 13px regular*/

/* ==========================================================================
   Pinterest Prototype - Main Styles
   ========================================================================== */

/*General Pinterest Styles*/
/*===========================================================================*/
* {
    box-sizing: border-box;
    color: #717171;
    font-size: 12px;
    font-family: 'Arimo';
    /*border: solid red;*/
}

html {
    background-color: #E9E9E9;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/*Main Nav Styles*/
/*===========================================================================*/

.topBar {
    display: block;
    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 2px #D8D8D8;
    z-index: 200;
    position: relative;
    height: 54px;
} 

.mainNav {
    background-color: #FFFFFF;
    max-width: 100%;
    z-index: 200;
    background-color: white;
    position: relative;
    padding: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}


.navInputsLeft {
    border: 1px solid #D8D8D8;
    float: left;
    height: 33px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}   

.navInputsRight {
    border: 1px solid #D8D8D8;
    float: left;
    height: 33px;
    border-radius: 6px; 
    text-align: center;
}

#search {
    height: 31px;
    width: 875px;
    background-color: #E9E9E9;
    font-size: 16px;
    font-weight: bold;
    color: #b0b0b0;
    border: 1px #D8D8D8;
    padding: 0 0 0 20px;
    margin: 0;
    margin-right: 0;
    display: inline-block;
}

#search:focus {
    outline: none;
}

.homeButton {
    height: 31px;
    width: 40px;
    margin: 0;
    float: left;
    background: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
    border-radius: 6px 0 0 6px;
    border-right: 1px solid #D8D8D8;
}

.homeButton:hover {
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}

.homeButton img {
    position: relative;
    width: 30px;
}

.hamburger {
    height: 31px;
    width: 40px;
    float: right;
    padding: 7px 10px 5px 10px;
    position: relative;
    background: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
    border-radius: 0 6px 6px 0;
    border-left: 1px solid #D8D8D8;
}

.hamburger:hover {
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}

.hamburger img {
    position: relative;
    width: 17px;
    padding-top: 5px
    margin: 0;
}

.profile {
    height: 31px;
    width: 190px;
    float: left;
    margin: 0;
    padding: 5px 5px 5px 8px;
    position: relative;
    background: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
    border-radius: 6px 0 0 6px ;
}

.profile:hover {
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}

.profile img {
    position: relative;
    width: 20px;
    float: left;
    margin: 0;
}

.profile p {
    font-size: 15px;
    color: #818181;
    font-weight: bold; 
    margin: 0;
    text-align: left;
    padding-left: 25px;
}

.notification {
    height: 31px;
    width: 40px;
    float: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
    position: relative;
    background: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
    border-radius: 0 6px 6px 0;
    border-left: 1px solid #D8D8D8;
}

.notification:hover {
    background: linear-gradient(to bottom, #FFFFFF, #EFEFEF);
}

.notification img {
    position: relative;
    width: 20px;
    float: left;
    padding-top: 10px
    margin: 0;
}

/*Page Title Styles*/
/*===========================================================================*/
.checkout {
    background-color: white;
    max-width: 100%;
    height: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    box-shadow: 0px 2px 2px #D8D8D8;
    z-index: 150;
    padding: 16px;
    display: block;
    position: relative;
}

/*Form Styles*/
/*===========================================================================*/
.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
}

fieldset {
    width: 375px;
    height: 425px;
    background-color: white;
    display: inline-block;
    margin: 50px 20px 20px 20px;
    padding: 0px 30px 30px 30px;
    float: left;
    box-shadow: 0px 2px 2px #D8D8D8; 
    border-top: 4px solid #717171; 
    border-radius: 0 0 10px 10px;
    position: relative;

}

.formTitle {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 30px;
    margin: 0;
}

/*Input and Label Styles*/
/*===========================================================================*/

/*set px size on grid to avoid moving around. use postion class learnings*/
label {
    color: #b0b0b0;
    font-size: 10px;
    display: block;
    position: relative;
}

label:focus {
    visibility: visible;
}

input {
    border: none;
    padding: 1px 0;
    border-bottom: solid 1px #b0b0b0;
    font-weight: bold;
    width: 100%;
}

input:placeholder-shown {
    font-weight: 400;
}

table {
    width: 100%;
}

/* Column Styles */
/*===========================================================================*/
.col-full {
    width: 100%;
    float: left;
}

.col-threequarters {
    width: 75%;
    float: left;
    margin-right: 8%;
}

.col-half {
    width: 46%;
    float: left;
}

.col-half:nth-of-type(odd) {
    margin-right: 8%;
}

.col-third {
    width: 30%;
    float: left;
}


.col-third {
    margin-right: 6%;
}

.col-third:last-child {
    margin-right: 0;
}

input:focus {
    outline: none;
    /*transform: translateY(-20px);*/
    visibility: visible;
}

.productInfo {   
    width: 100%;
    height: 80px;
    border: 1px solid #B0B0B0;
    border-radius: 6px;
}

.productInfo img {
    height: 78px;
    float: left;
    border-right: 1px solid #B0B0B0;
    border-radius: 6px 0 0 6px;
}

.productText {
    float: left;
    display: block;
    font-weight: bold; 
    font-size: 12px;
    margin: 0 auto;
    padding: 10px;
}

.productText p {
    margin: 0;
    padding: 1px;
}

.policy {
    position: absolute;
    width: 315px;
    bottom: 70px;
    display: block;
    text-align: center;
    font-size: 10px;
    color: #b0b0b0;
}

.policy strong {
    font-size: 10px;
    color: #b0b0b0;
}

/*Review Form Styles*/
/*===========================================================================*/
.total {
    font-weight: bold;
    font-size: 10px;
    margin: 0;
}

h3 {
    font-size: 18px;
    margin: 0;
}

/*Button Styles*/
/*===========================================================================*/
#shippingButton, #paymentButton {
    border: none;
    background-color: #EFEFEF; 
    font-weight: bold;
    width: 315px;
    height: 35px;
    border-radius: 6px;
    position: absolute;
    bottom: 30px;
    display: block;
    text-align: center;
    outline: none;
}

#shippingButton:hover, #paymentButton:hover {
    background-color: #E0E0E0;
} 

#submitButton {
    border: none;
    background-color: #0682FF;
    color: white;
    width: 315px;
    height: 35px;
    border-radius: 6px;
    position: absolute;
    bottom: 30px;
    display: block;
    text-align: center;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    padding: 9px 0;
}

/*#submitButton a {
    font-weight: bold;
}
*/
#submitButton:hover {
    background-color: #0575e5;
}


/* ==========================================================================
   Pinterest Prototype - JavaScript addCLass
   ========================================================================== */

.hiddenLabel {
    color: white;
}


.highlightLabel {
    color: #0682FF;
    font-weight: bold;
}

.noInputStyle {

}
    
.highlightInput {
    border-bottom: solid 2px #0682FF;
}

/*This is not working*/
.transformButton {
    transform: 60px;
}

.collapseFieldset {
    height: 300px;
}
/* ==========================================================================
   Pinterest Prototype - Responsive Styles
   ========================================================================== *











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
